<div class="listDisplay">
    <div class="container">
        <h3>Reviews:</h3>
        <hr/>
    </div>
    <div class="container" style="width: 45%;">
        {{#if msg}}
        <div style="background-color: #00FF00; color: gray; border-radius: 20px; width: 70%; padding: 1%; margin: 4% auto;">
            <h4>{{msg}}</h4>
        </div>
        {{/if}}
    </div>
    <div class="row" style="width: 100%; margin-left: 0px;">
        <div class="col-md-4" style="background-color: #DCDCDC; height: 100%; position: relative;">
            <h5 style="background-color: darkgray; width: 80%; position: inline-block; margin: 2% auto; border-radius: 20px; padding: 2%;">All Property reviews:</h5>
            <hr/>
            <div style="width: 100%; position: relative;">
            {{#each propertyReviews}}
                <div style="border-style: solid; margins: 1%; margin-bottom: 2%; border-radius: 20px; text-align: left;">
                    <div style="display: inline-block; width: 100%;">
                        <p style="display: block; float: left; margin-left: 10%; width: 100%;">Property: <span style="font-weight: bold;">{{this.address}}{{#if this.unit_number}}, Unit: {{this.unit_number}}{{/if}}</span></p>
                        <p style="display: block; float: left; margin-left: 10%; width: 100%;">Property Rating: <span style="font-weight: bold;">{{this.rating}}</span></p>
                    </div>
                    <div style="text-align: left; background-color: white; width: 95%; margin: 0 auto; border-radius: 10px;">
                        <p style="display: inline-block; margin-left: 8%;">Review:</p>
                        <p style="margin-left: 8%;">{{this.description}}</p>
                    </div>
                    <div style="text-align: left; margin-left: 10%;">
                        <p>Lease Start: <span style="display: inline-block; font-weight: bold;">{{this.start_lease_date}}</span></p>
                        <p>Lease End: <span style="display: inline-block; font-weight: bold;">{{this.end_lease_date}}</span></p>
                    </div>
                </div>
            {{/each}}
            {{#unless propertyReviews}}
                <div style="background-color: #ff6961; border-radius: 20px; padding: 2%;">
                    <p>No property reviews have been found for this member!</p>
                </div>
            {{/unless}}
            </div>
        </div>
        <div class="col-md-4" style="background-color: #D3D3D3; height: 100%; position: relative; margin-bottom: -99999px; padding-bottom: 99999px; overflow: hidden;">
            <h5 style="background-color: darkgray; width: 80%; position: inline-block; margin: 2% auto; border-radius: 20px; padding: 2%;">All Neighborhood reviews:</h5>
            <hr/>
            <div style="width: 100%; position: relative;">
            {{#each neighborhoodReviews}}
                <div style="border-style: solid; margins: 1%; margin-bottom: 2%; border-radius: 20px; text-align: left;">
                    <div style="display: inline-block; width: 100%;">
                        <p style="display: block; float: left; margin-left: 10%; width: 100%;">Neighborhood: <span style="font-weight: bold;">{{this.nname}}</span></p>
                        <p style="display: block; float: left; margin-left: 10%; width: 100%;">Neighborhood Rating: <span style="font-weight: bold;">{{this.rating}}</span></p>
                    </div>
                    <div style="text-align: left; background-color: white; width: 95%; margin: 0 auto; border-radius: 10px;">
                        <p style="display: inline-block; margin-left: 8%;">Review:</p>
                        <p style="margin-left: 8%;">{{this.description}}</p>
                    </div>
                </div>
            {{/each}}
            {{#unless neighborhoodReviews}}
                <div style="background-color: #ff6961; border-radius: 20px; padding: 2%;">
                    <p>No property reviews have been found for this member!</p>
                </div>
            {{/unless}}
            </div>
        </div>
        <div class="col-md-4" style="background-color: #C0C0C0; height: 100%; position: relative; margin-bottom: -99999px; padding-bottom: 99999px; overflow: hidden;">
            <h5 style="background-color: darkgray; width: 80%; position: inline-block; margin: 2% auto; border-radius: 20px; padding: 2%;">All Owner reviews:</h5>
            <hr/>
            <div style="width: 100%; position: relative;">
            {{#each ownerReviews}}
                <div style="border-style: solid; margins: 1%; margin-bottom: 2%; border-radius: 20px; text-align: left;">
                    <div style="display: inline-block; width: 100%;">
                        <p style="display: block; float: left; margin-left: 10%; width: 100%;">Owner: <span style="font-weight: bold;">{{this.email}}</span></p>
                        <p style="display: block; float: left; margin-left: 10%; width: 100%;">Neighborhood Rating: <span style="font-weight: bold;">{{this.rating}}</span></p>
                    </div>
                    <div style="text-align: left; background-color: white; width: 95%; margin: 0 auto; border-radius: 10px;">
                        <p style="display: inline-block; margin-left: 8%;">Review:</p>
                        <p style="margin-left: 8%;">{{this.description}}</p>
                    </div>
                </div>
            {{/each}}
            {{#unless ownerReviews}}
                <div style="background-color: #ff6961; border-radius: 20px; padding: 2%;">
                    <p>No property reviews have been found for this member!</p>
                </div>
            {{/unless}}
            </div>
        </div>
    </div>
</div>